body {
    background-color: #35eb5c;
}

.content {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-family: 'Teddy Bear', sans-serif;
    color: #f50404;
}

h2 {
    font-family: 'Teddy Bear', sans-serif;
    color: #ff6600;
}

a {
    color: #0f0783;
}

.big_size {
    width: 350px;
}

.small_size {
    width: 250px;
}

img {
    margin-left: 50px;
}

h3 {
    font-family: 'Teddy Bear', sans-serif;
    font-size: 2.0rem;
}

ul {
    list-style-type: square;
}

@font-face {
    font-family: 'Teddy Bear';
    src: url('fonts/teddy_bear.eot');
    /* IE 9 Compatibility Mode */
    src: url('fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('fonts/teddy_bear.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('fonts/teddy_bear.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('fonts/teddy_bear.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('fonts/teddy_bear.svg#teddy_bear') format('svg');
    /* Chrome < 4, Legacy iOS */
}